<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/home/shido/Documents/Projects/Python_clases/escuela/static/css/estilos.css" rel="stylesheet">
  </head>
  <body>
    <h1>Registro de Alumno</h1>
    <form action="" method="POST">
      <label for="nombre">Nombre</label> <br>
      <input type="text" name="nombre" id="nombre" required> <br>
      <label for="apellido">Apellido</label> <br>
      <input type="text" name="apellido" id="apellido"> <br>
      <label for="edad">Edad</label> <br>
      <input type="number" name="edad" id="edad"> <br>
      <label for="grado">Grado</label> <br>
      <input type="text" name="grado" id="grado"> <br>
      <button type="submit">Enviar registro</button> <br>
    </form>
    <a href="/">Volver</a>
  </body>
</html>
