<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina para editar</title>
</head>
<body>
    <h1>Editar estudiante.</h1>

    <form action="" method="post" >
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{ e.nombre }}   " required > <br><br>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="{{ e.apellido }}"><br><br>
        <label for="edad">Edad</label>
        <input type="number" name="edad" id="edad" value="{{ e.edad }}" required><br><br>
        <label for="grado">Grado</label>
        <input type="text" name="grado" id="grado" value="{{ e.grado }}" required>

        <button type="submit">Editar Registro.</button>
    </form><br><br>
    
    <a href="/ver">Volver</a>
    <br><br><br>
    <a href="/">Pagina Principal</a>
</body>
</html>