<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form action="/enviar" method="post">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
            <label for="edad">Edad</label>
            <input type="number" name="edad" id="edad" required>
            <label for="tel">Telefono</label>
            <input type="number" name="tel" id="tel" required>
            <button type="submit">Enviar datos</button>
    </form>
</body>
</html>